<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>{{ edit.username }}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-center">
                            {% if usr.profilepic %}
                            <img src="{{ usr.profilepic.url }}" name="image" class="avatar img-circle img-thumbnail" alt="avatar">
                            {% endif %}
                            <h6>Upload a different photo...</h6>
                            <input type="file" class="text-center center-block file-upload" name="image">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="username"><h4>Username</h4></label>
                                <input type="text" class="form-control" name="username" value="{{ edit.username }}" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone</h4></label>
                                <input type="text" class="form-control" name="phone" value="{{ edit.phone }}" name="" id="phone" placeholder="Enter phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" value="{{ edit.email }}" id="email" placeholder="you@email.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="bio"><h4>Biography</h4></label>
                                <textarea class="form-control" name="bio" id="bio" placeholder="Tell us something about yourself...">{{ edit.bio }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="interested_sectors"><h4>Interested Sectors</h4></label>
                                <textarea class="form-control" name="interested_sectors" id="interested_sectors" placeholder="Interested Sectors">{{ edit.interested_sectors }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
</body>
</html>
